<h1> New message to <%= @receiver.username %></h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @message do |f| %>
        <%= f.input :content  %>
        <%= f.input_field :receiver_id, as: :hidden, value: @receiver.id %>
        <%= f.button :submit, 'Send message', class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
