<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <div class="form-login gradient-border">
        <h2>Create an exhibition</h2>
        <%= simple_form_for [@collab, @exhibition] do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :category, collection: @exhibition.set_art_types %>
            <%= f.input :address %>
            <%= f.input :city %>
            <%= f.input :country %>
            <%= f.input :start_date, as: :date %>
            <%= f.input :end_date, as: :date %>
            <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Let's Exhibit!", class: "btn btn-outline-primary" %>
            <%= link_to "Cancel", :back, class: "btn btn-outline-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
</div>

