<div class="<%= page_background_class %>">
  <div class="container">
  <br>
  <br>
    <div class="exhibition-headers">
      <p class="name-tab">Name</p>
      <p class="description-tab">Description</p>
      <p class="type-tab">Type</p>
      <p class="location-tab">Location</p>
      <p class="info-tab"><span></span></p>
    </div>
    <hr class="exhibition-headers-divider">
    <br>
    <% @exhibitions.each do |exhibition| %>
    <div class="exhibition-list-infos">
      <h3><%= link_to exhibition.name, exhibition_path(exhibition) %></h3>
      <h4><%= exhibition.description.truncate(50, separator: ' ') %></h4>
      <h4 id="category"><%= exhibition.category %></h4>
      <h4><%= exhibition.city %>, <%= exhibition.country %></h4>
      <div class="btn-exhibition-info">
        <%= link_to "Get info", exhibition_path(exhibition), class: "btn btn-outline-primary" %>
      </div>
    </div>
    <hr class="divider">
    <% end %>
  </div>

  <div class="map-index">
    <div id="map"
      style="width: 75%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <br>
  <br>
</div>
