<div class="<%= page_background_class %>">
  <div class="container">
  <br>
  <br>
<!--     <div class="exhibition-headers">
      <h2><%= link_to "Past", "#" %></h2>
      <div class="vertical-lign" style="border-left:1px solid black;height:40px"></div>
      <h2><%= link_to "Current", "#" %></h2>
      <div class="vertical-lign" style="border-left:1px solid black;height:40px"></div>
      <h2><%= link_to "Future", "#" %></h2>
    </div> -->
    <br>
    <br>
    <% @exhibitions.each do |exhibition| %>
    <div class="exhibition-list-infos">
      <h3><%= link_to exhibition.name, exhibition_path(exhibition) %></h3>
      <h4><%= exhibition.description %></h4>
      <h4 id="category"><%= exhibition.category %></h4>
      <div class="btn-exhibition-info">
        <%= link_to "Get info", exhibition_path(exhibition), class: "btn btn-outline-primary" %>
      </div>
    </div>
    <hr class="divider">
    <% end %>
  </div>

  <div class="map-index">
    <div id="map"
      style="width: 75%; height: 500px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <br>
  <br>
</div>
