<div class="container">
  <% @exhibitions.each do |exhibition| %>
  <div class="work-of-art-card">
    <%= link_to exhibition.name, exhibition_path(exhibition) %>
    <% end %>
  </div>
  <% if @exhibition.users.include?(current_user) %>
    <%= link_to "Edit", edit_exhibition_path(@exhibition) %>
  <% end %>
  <%= link_to "Homepage", root_path, class: 'btn btn-primary' %>

  <div class="map-index">
      <div id="map"
           style="width: 75%; height: 500px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

