<div class="<%= page_background_class %>">
  <div class="container">
    <div class="work-of-art-card">
      <% if @exhibition.photos.attached? %>
        <% @exhibition.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fill %>
        <% end %>
      <% else %>
        <%= image_tag('dodoma.png') %>
      <% end %>
      <h3><%= @exhibition.name %></h3>
      <h4><%= @exhibition.start_date %> - <%= @exhibition.end_date %></h4>
      <p><%= @exhibition.description %></p>
      <% if @exhibition.collab.users.include?(current_user) %>
        <%= link_to "Edit", edit_exhibition_path(@exhibition), class: 'btn-outline-primary' %>
        <%= link_to "Delete", @exhibition, data: { confirm: "Are you sure?" }, :method => :delete, class: "btn-outline-primary" %>
      <% end %>
    </div>
    <%= link_to "All collabs", collabs_path, class: 'btn-outline-primary' %>
    <%= link_to "All exhibitions", exhibitions_path, class: 'btn-outline-primary' %>
    <br>
  </div>
</div>
