<!-- # <%= @exhibition.name %>

# <%= @collab.exhibition.user %>

# <%= link_to "Edit Exhibition", edit_collab_exhibition_path(@collab) %>
# <%= link_to "All collabs", collabs_path %>
# <%= link_to "All exhibitions", exhibitions_path %> -->

<div class="container">
  <h2><%= @exhibition.name %></h2>
</div>
