<div class="<%= page_background_class %>">
  <div class="container">
    <br>
    <% @collabs.each do |collab| %>
      <div class="collab-list-infos">
        <h3><%= collab.name %></h3>
        <h4><%= collab.description %></h4>
        <h4>And maybe something else?</h4>
        <%= link_to "Join this collab", user_collab_relationships_path(user_collab_relationship: {collab_id: collab.id, user_id: current_user.id, status: "pending" }), method: :post , class: 'btn btn-outline-primary' %>
      </div>
      <hr class="divider">
    <% end %>
  </div>
  <br>
  <div class="btn-container">
    <%= link_to "New Collab", new_collab_path, class: 'btn btn-outline-primary' %>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
