<div class="<%= page_background_class %>">
  <br>
  <div class="page-info">
    <p>
      This is the page where you will find the different collaborative groups
      present on Artsouille, gathering together artists from all over the world
      and of all backgrounds.
      <br>
      <br>
      If you are interested in a collaboration you can either create a new group
      or send a request to an existing one.
      <br>
      <br>
      Let's make something beautiful together!
    <p>
    <div class="btn-page-info">
      <%= link_to "New Collab", new_collab_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
  <br>
  <br>
  <div class="container-collab-cards">
    <% @collabs.each do |collab| %>
      <div class="collab-card">
        <% if collab.photo.attached? %>
          <%= link_to image_tag(collab.photo), collab_path(collab.id), crop: :fill %>
        <% else %>
          <%= link_to image_tag('artist_2.png'), collab_path(collab.id) %>
        <% end %>

        <div class="collab-card-infos">
          <% if collab.users.include? current_user %>
           <h3><%= link_to collab.name, collab_path(collab.id) %></h3>
            <% else %>
             <h3><%= collab.name %></h3>
          <% end %>
          <h4><%= collab.description %></h4>
          <% unless collab.users.include? current_user  %>
            <div class="btn-collab-card">
              <%= link_to "Ask to join this collab", user_collab_relationships_path(user_collab_relationship: {collab_id: collab.id, user_id: current_user.id, status: "pending" }), method: :post , class: 'btn btn-outline-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
