<div class="<%= page_background_class %>">
  <br>
  <div class="page-info">
    <p>
      This is the page where you will find the different collaborative groups
      present on Artsouille, gathering together artists from all over the world
      and of all backgrounds.
      <br>
      <br>
      If you are interested in a collaboration you can either create a new group
      or send a message to an existing one.
      <br>
      <br>
      Let's make something beautiful together!
    <p>
    <%= link_to "New Collab", new_collab_path, class: 'btn btn-outline-primary' %>
  </div>
  <br>
  <br>
  <div class="container-collab-cards">
    <% @collabs.each do |collab| %>
      <div class="collab-card">
          <%= link_to image_tag("artist_2.png"), "#" %>
        <div class="collab-card-infos">
          <h3><%= link_to collab.name, collab_path(collab) %></h3>
          <h4>Some description</h4>
          <h4>And maybe something else?</h4>
          <%= link_to "Send message", "#", class: 'btn btn-outline-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>
</div>


