<div class="<%= page_background_class %>">
  <div class="container">
  <% if @accepted_users %>
    <h2><%= @collab.name %></h2>

    <% @accepted_collab.each do |collab| %>
        <div class="work-of-art-card">
          <%= collab.user.username %>
          <%= link_to "Remove this artist", user_collab_relationship_path(@collab.user_collab_relationships.find {|uc| uc.user == collab.user }), method: :delete, data: {confirm: "Remove artist from the collab?"} %>
          <%  %>
        </div>
      <% end %>
      <%= link_to "Add a member", new_collab_user_collab_relationship_path(@collab) %>
      <%= link_to "Add an exhibition", new_collab_exhibition_path(@collab, @exhibition) %>
    <%= link_to "Back", collabs_path %>
  <% else %>
  <h2>Your request is pending !</h2>
  <% end %>

<!--
    <h5> Members: </h5>
    <% @collab.users.each do |user| %>
      <div class="work-of-art-card">
        <%= user.username %>
        <% if @collab.users.include?(current_user) %>
          <%= link_to "Remove this artist", user_collab_relationship_path(@collab.user_collab_relationships.find {|uc| uc.user == user }), method: :delete, data: {confirm: "Remove artist from the collab?"} %>
        <% end %>
      </div>
    <% end %>

    <% if @collab.users.include?(current_user) %>
      <div >
        <% @collab.to_dos.each do |to_do| %>
        <div class='card-to-do'>
          <h4><%= to_do.title %>  <%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_to_do_path(to_do) %></h4>
        <div>
          <ul>
            <% to_do.to_do_items.each do |item| %>
            <li> <%= item.content %> <%= link_to "<i class='far fa-times-circle'></i>".html_safe,
                                                to_do_item_path(item),
                                                method: :delete,
                                                data: { confirm: "Remove this Idea?" }  %></li>
            <% end %>
            <li> <%= link_to "<i class='fas fa-plus-circle'></i>".html_safe, new_to_do_to_do_item_path(to_do) %></li>
          </ul>
        </div>
      </div>
        <% end %>
      </div>
    <% end %>



    <% if @collab.users.include?(current_user) %>
      <%= link_to "Add a member", new_collab_user_collab_relationship_path(@collab) %>
      <%= link_to "Add an exhibition", new_collab_exhibition_path(@collab, @exhibition) %>
      <%= link_to "Add a Brainstorm table", new_collab_to_do_path(@collab) %>
    <% end %>
    <%= link_to "Back to Collabs", collabs_path %> -->

  </div>
</div>
