<div class="<%= page_background_class %>">
  <div class="container">
  <% if @accepted_users %>
    <h2><%= @collab.name %></h2>
    <% @accepted_collab.each do |collab| %>
        <div class="work-of-art-card">
          <%= collab.user.username %>
          <%= link_to "Remove this artist", user_collab_relationship_path(@collab.user_collab_relationships.find {|uc| uc.user == collab.user }), method: :delete, data: {confirm: "Remove artist from the collab?"} %>
          <%  %>
        </div>
      <% end %>
      <%= link_to "Add a member", new_collab_user_collab_relationship_path(@collab) %>
      <%= link_to "Add an exhibition", new_collab_exhibition_path(@collab, @exhibition) %>
    <%= link_to "Back", collabs_path %>
  <% else %>
  <h2>Your request is pending !</h2>
  <% end %>
  </div>
</div>
