<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">
      <div class="form-login gradient-border">
      <h2>Edit my profile</h2>
        <%= simple_form_for @user do |f| %>
        <div class="form-inputs">
          <%= f.input :first_name,
                      required: false %>
          <%= f.input :last_name,
                      required: false %>
          <%= f.input :art_type,
                      label: "Category",
                      collection: @user.set_art_types,
                      autofocus: true,
                      required: false %>
          <%= f.input :description,
                      label: "About",
                      required: false %>
          <%= f.input :country,
                      priority: ["BE", "FR", "GB"],
                      prompt: "Select a country",
                      required: false,
                      input_html: { autocomplete: "Select country" } %>
          <%= f.input :city,
                      required: false %>
          <%= f.input :photo, as: :file %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, class:"btn btn-outline-primary" %>
          <%= link_to 'Cancel', user_path, class: "btn btn-outline-warning" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
