<div class="<%= page_background_class %>">
  
  <div class="container-artist-cards">
    <% @users.each do |user| %>
      <div class="artist-card">
        <% if @user.photo.attached? %>
          <%= cl_image_tag @user.photo.key, crop: :fill %>
        <% else %>
          <%= link_to image_tag("artist.png"), user_path(user)%>
        <% end %>
        <div class="artist-card-infos">
          <h3><%= user.first_name %> - <%= user.last_name %></h3>
          <h4><%= user.art_type%></h4>
          <p><%= user.city%>, <%= user.country%></p>
          <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
          <br>
        </div>
      </div>
    <% end %>
  </div>
  
 </div>

