<div class="<%= page_background_class %>">
  <br>
  <div class="btn-arrow-left">
  <%= link_to work_of_arts_path do %>
    <i> &#10229; Back to Artists</i>
  <% end %>
  </div>
  <br>
  <div class="container-profile-card">
    <div class="profile-card">
      <% if @user.photo.attached? %>
        <%= image_tag @user.photo, crop: :fill %>
      <% else %>
        <%= image_tag("artist.png") %>
      <% end %>
      <div class="profile-card-items">
        <div class="profile-card-infos">
          <h3><%= @user.username  %></h3>
          <hr>
          <% if @user.first_name.present? %>
            <h4><%= @user.first_name %> <%= @user.last_name %></h4>
            <hr>
          <% end %>
          <h4><%= @user.art_type  %></h4>
          <hr>
          <p><%= @user.city  %>, <%= @user.country  %></p>
          <hr>
          <p>Biography</p>
          <p><%= @user.description  %></p>
          <hr>
          <p>My collabs :</p>
          <ul>
            <% @user.user_collab_relationships.where(status: 'accepted').each do |usercollab|%>
              <li> <%= link_to usercollab.collab.name, collab_path(usercollab.collab) %> </li>
            <% end %>
          <ul>
          <hr>
          <h4><%= link_to 'See my exhibitions', exhibitions_path(query: @user.id) %></h4>
          <br>
        </div>
        <% if current_user == @user  %>
        <div class="btn-profile">
          <%= link_to "Edit my profile", edit_user_path, class: "btn btn-outline-primary btn-edit" %>
          <%= link_to "Add a new artwork", new_work_of_art_path(@work_of_art), class: "btn btn-outline-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <h3 style="text-align:center">Portfolio</h3>
  <br>

  <div class="container-work-of-art-cards">
    <% @user.work_of_arts.each do |art| %>
      <div class="work-of-art-card">
        <% if art.photo.attached? %>
          <%= link_to image_tag(art.photo), work_of_art_path(art), crop: :fill %>
        <% else %>
          <%= link_to image_tag("dodoma.png") %>
        <% end %>
        <div class="work-of-art-card-infos">
          <h3><%= link_to art.name, work_of_art_path(art) %></h3>
          <p><%= art.art_type %></p>
          <p><%= art.description %></p>
          <% unless current_user == art.user %>
          <div class="favorite-heart">
            <%= link_to toggle_favorite_work_of_art_path(art), remote: true, method: :post do %>
            <%= render 'work_of_arts/like_button', work_of_art: art %>
            <% end %>
          </div>
          <% end %>
          <% if current_user == @user %>
            <div class="btn-work-of-art">
              <%= link_to "Edit", edit_work_of_art_path(art), class: "btn btn-outline-primary" %>
              <%= link_to "Delete", work_of_art_path(art), data: { confirm: "Are you sure?" }, :method => :delete, class: "btn btn-outline-warning" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
</div>
