<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-login gradient-border">
        <h2>Add a new artwork</h2>
        <%= simple_form_for @work_of_art do |f| %>
          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, "Create Art!",class: "btn btn-outline-primary" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
