<div class="container">
  <%= simple_form_for @work_of_art do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :creation_date, as: :date %>
    <%= f.input :photo, as: :file %>
    <%= f.input_field :user, as: :hidden, value: current_user %>
    <%= f.button :submit, class:"btn btn-primary" %>

  <% end %>
</div>
