<div class="<%= page_background_class %>">
<br>
  <div class="container-work-of-art-cards">
    <% @work_of_arts.each do |art| %>
      <div class="work-of-art-card">
        <% if art.photo.attached? %>
          <%= link_to image_tag(art.photo), work_of_art_path(art), crop: :fill %>
        <% else %>
          <%= link_to image_tag('dodoma.png'), work_of_art_path(art) %>
        <% end %>
        <div class="work-of-art-card-infos">
          <h3><%= link_to art.name, work_of_art_path(art) %></h3>
          <p><%= art.creation_date.strftime('%Y') unless art.creation_date.nil?%></p>
          <p><%= art.art_type %></p>

          <% unless current_user == art.user %>
          <div class="favorite-heart">
            <%= link_to toggle_favorite_work_of_art_path(art), remote: true, method: :post do %>
            <%= render 'work_of_arts/like_button', work_of_art: art %>
            <% end %>
          </div>
          <% end %>
          
          <% if current_user == art.user %>
            <div class="btn-work-of-art">
              <%= link_to "Edit", edit_work_of_art_path(art), class: "btn btn-outline-primary" %>
              <%= link_to "Delete", work_of_art_path(art), data: { confirm: "Are you sure?" }, :method => :delete, class: "btn btn-outline-warning" %>
            </div>
          <% end %>
          
          <p>by <u> <%= link_to art.user.username, user_path(art.user) %> </u></p>
        </div>
        <br>
        <br>
      </div>
    <% end %>
  </div>
  <br>
</div>
