<div class="<%= page_background_class %>">
  <br>
  <div class="btn-arrow-left">
  <%= link_to work_of_arts_path do %>
    <i> &#10229; Back to Artworks</i>
  <% end %>
  </div>
  <br>
  <br>
  <div class="woa-card-show">
    <div class= "artwork-show">
    <% if @work_of_art.photo.attached? %>
      <%= cl_image_tag @work_of_art.photo.key, crop: :fill %>
    <% else %>
      <%= image_tag('dodoma.png') %>
    <% end %>
    </div>
    <div class="work-of-art-card-infos">
      <h3> <%= link_to @work_of_art.user.username, user_path(@work_of_art.user) %></h3>
      <hr>
      <h4><%= @work_of_art.name %></h4>
      <hr>
      <% if @work_of_art.creation_date.present? %>
        <h4>  <%= @work_of_art.creation_date.strftime('%Y')  %> </h4>
      <% else %>
        <h4>Creation date undefined</h4>
      <% end %>
      <hr>
      <% if @work_of_art.art_type.present? %>
        <h4>  <%= @work_of_art.art_type %> </h4>
      <% else %>
        <h4>Category undefined</h4>
      <% end %>
      <hr>
      <% if @work_of_art.description.present? %>
        <p>  <%= @work_of_art.description %> </p>
      <% else %>
        <p>There is no description.</p>
      <% end %>
      <% unless current_user == @work_of_art.user %>
      <div class="favorite-heart-show">
        <%= link_to toggle_favorite_work_of_art_path(@work_of_art), remote: true, method: :post do %>
        <%= render 'work_of_arts/like_button', work_of_art: @work_of_art %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <br>
  <br>
</div>
