<div class="container-work-of-art-cards">

  <div class="work-of-art-card">
    <%= link_to image_tag("dodoma.png") %>
    <div class="work-of-art-card-infos">
      <h3><%= @work_of_art.user.first_name %> - <%= @work_of_art.user.last_name %></h3>
      <h4><%= @work_of_art.name %></h4>
      <p><%= @work_of_art.description %></p>
      <%= link_to "Back", work_of_arts_path %>
      <img src="/assets/heart-icon" alt="heart" class="favorite-icon">
    </div>
      <%= link_to "Back", work_of_arts_path %>
  </div>
</div>
<br>
